<RIBCL VERSION="2.0">
  <LOGIN USER_LOGIN="{{ ilo_login }}" PASSWORD="{{ ilo_password }}">

{% if apply_license %}
    <!-- ============================================================ -->
    <!-- iLO ADVANCED LICENSE                                         -->
    <!-- ============================================================ -->
    <RIB_INFO MODE="write">
      <LICENSE>
        <ACTIVATE KEY="{{ ilo_license_key }}"/>
      </LICENSE>
    </RIB_INFO>
{% endif %}

{% if add_user %}
    <USER_INFO MODE="write">
      <ADD_USER
        USER_NAME="{{ fence_user_name }}"
        USER_LOGIN="{{ fence_user_login }}"
        PASSWORD="{{ fence_user_password }}">
        <ADMIN_PRIV VALUE="N"/>
        <REMOTE_CONS_PRIV VALUE="N"/>
        <RESET_SERVER_PRIV VALUE="Y"/>
        <VIRTUAL_MEDIA_PRIV VALUE="N"/>
        <CONFIG_ILO_PRIV VALUE="N"/>
      </ADD_USER>
    </USER_INFO>
{% endif %}

    <RIB_INFO MODE="write">
      <MOD_NETWORK_SETTINGS>
        <DHCP_ENABLE VALUE="No"/>
        <DOMAIN_NAME VALUE="{{ ilo_domain }}"/>
        <PRIM_DNS_SERVER VALUE="{{ primary_dns }}"/>
        <SEC_DNS_SERVER VALUE="{{ secondary_dns }}"/>
      </MOD_NETWORK_SETTINGS>
    </RIB_INFO>

{% if apply_ipmi_config %}
    <RIB_INFO MODE="write">
      <MOD_GLOBAL_SETTINGS>
        <IPMI_DCMI_OVER_LAN_ENABLED VALUE="Y"/>
        <IPMI_DCMI_OVER_LAN_PORT VALUE="{{ ipmi_port }}"/>
      </MOD_GLOBAL_SETTINGS>
    </RIB_INFO>
{% endif %}

    <!-- ============================================================ -->
    <!-- SERVER IDENTIFICATION                                        -->
    <!-- ============================================================ -->
    <SERVER_INFO MODE="write">
      <SERVER_NAME VALUE="{{ server_name }}"/>
      <SERVER_FQDN VALUE="{{ server_fqdn }}"/>
    </SERVER_INFO>

    <DIR_INFO MODE="write">
      <MOD_DIR_CONFIG>
        <DIR_AUTHENTICATION_ENABLED VALUE="Y"/>
        <DIR_LOCAL_USER_ACCT VALUE="Y"/>
        <DIR_SERVER_ADDRESS VALUE="{{ directory_server }}"/>
        <DIR_SERVER_PORT VALUE="636"/>
        <DIR_USER_CONTEXT_1 VALUE="{{ dir_user_context_1 }}"/>
        <DIR_USER_CONTEXT_2 VALUE="{{ dir_user_context_2 }}"/>
        <DIR_USER_CONTEXT_3 VALUE="{{ dir_user_context_3 }}"/>
        <DIR_USER_CONTEXT_4 VALUE="{{ dir_user_context_4 }}"/>
        <DIR_ENABLE_GRP_ACCT VALUE="Y"/>
        <DIR_GRPACCT1_NAME VALUE="CN=ILOAdmins,OU=Roles,OU=IT,OU=ISS,DC=mak,DC=iss"/>
        <DIR_GRPACCT1_PRIV VALUE="1,2,3,4,5,6"/>
      </MOD_DIR_CONFIG>
    </DIR_INFO>

    <DIR_INFO MODE="write">
      <IMPORT_LDAP_CA_CERTIFICATE>
-----BEGIN CERTIFICATE-----
MIIFLjCCAxagAwIBAgIQVFv4n8DpNZxKVx5leFcGzzANBgkqhkiG9w0BAQsFADAW
MRQwEgYDVQQDEwtJU1MtUk9PVC1DQTAeFw0yNTA5MDUwMjU2MTZaFw00NTA5MDUw
MzA2MTVaMBYxFDASBgNVBAMTC0lTUy1ST09ULUNBMIICIjANBgkqhkiG9w0BAQEF
AAOCAg8AMIICCgKCAgEAvv6H0ZwTbbrXCady6uv1IKiG66D8h6kBr2Yb7fjvwR7w
w7vyZfKfmhhxr+UiL9RQfPRke1yoXC5JDJb6L4DZ9uzfCekLhz0jLYXFF9ZBqC13
Y6EdA1paYSqqfw8EUkmiyziTRr+f9cN5QcyTSAjpcmB210H0lQ0Tuqux/eEA398r
yOSfZMIrvED0QCjXgWJhxrugVihOtHYg81DS79RYaGCstRxLFHGQZ0ws4wYqQibQ
XjHOs84SB6An2EXL7JsNSHmnVi1jlU07RzQefl/mh1296t9+7KyY5djG/3d8B11V
oofow7ITSNGvcyuKN72PnYGhjyediWesyKzc/07SMuNx3OLi5B3EF3kJmKlgY5CJ
hjnFnqTK2kYDSrNZbOjyrwQHEJmeZASyuCkC/A9VtlBTVBTfgKrF5UWgUN2JLHGr
bCkXHrxPdWDR/pBzDYHanZx4sCXA2t+ZDiqQ/itIzbFQ9HWoI6qTFCk6mQ9Orbp+
OdnYQpIF/6Ha49xdwFtymo2lqc3jWDCWcs9wEOoGTFYtmMzkYOWKZT/bPTuy6qqZ
z+YqdoKjG2pwc30UaPrKEtouTKWCtKyUqbrQbY5CguU6vCbW7k4h+aox5IO7zLHQ
a/iX20iG6spJRFUhl8NNZqSWJZ68Tt+Qn7F7gOPI0Odf6cXiU7FmM/Xx93U6ZDEC
AwEAAaN4MHYwCwYDVR0PBAQDAgGGMA8GA1UdEwEB/wQFMAMBAf8wHQYDVR0OBBYE
FPWhjC3FtpG8b2/+vg02roGBmvs3MBIGCSsGAQQBgjcVAQQFAgMBAAEwIwYJKwYB
BAGCNxUCBBYEFCK8pw+2mQRS6yLftKRn8oWvP9KEMA0GCSqGSIb3DQEBCwUAA4IC
AQBKmjB20HVWMm9rCIBUb7jF+EmvKk57S74eu2Gq+FhKyxogsoRsEjK0PrkfTLHQ
3uWQ1ts0T5W8zCxKABaZfIu959l/C3Jcz21gTiYuEK5FewFRnfyoagxJwy+s9324
OvcQvRSaJGuLAhU7NC1GJuuuwksfClWwwVjvwGlNxpffEQh8Pdh4Ycr4oAm7LDBa
D6py7r5GKdJ+6vo3vF6DhU41m8LVfoI/iy+siFlscsm3VinCYz/ucbTdZFIEIovh
1fY4ia6gnBC5ILZHP1Jgpm/dWE183oxhaDkK6XLe9agn6CTftB9HheaNdtFbVVq/
fhTERfkAPqgh+RbFsEImi1qA7VdbLBeMTA6h1dBr+8fXgs1zdWzxOKBKcBaxUtqD
YEe1I4FqKGReDov+x/9qinzZ4BaPrIM4bzQ0D24YwkULKaYZDQ5ZklOk3F1Sjugb
Jv+o+FvYx8Xe8gKeDMAwcfLXX/vY+BforPPSlAxjtH99MvF9rN82xkag1Ay71fg/
UxjNSkwVDUPoNi9Cf2m3LKr1vUpX0MljU45YtR+fWeQlLRKmQwcQ0Qs9F5+kWIQQ
24Ifktqeaft23VT1Xh8SE5207mz2yd3JjA4nCq+OrnWPFBF5QpRCZNv0E+4Pmiv7
SctJf7EcDCTZI/lnuTDwlMJz0DJsCyaSGqp1ymfI2zz/hQ==
-----END CERTIFICATE-----

      </IMPORT_LDAP_CA_CERTIFICATE>
    </DIR_INFO>

    <SERVER_INFO MODE="write">
      <SET_PENDING_BOOT_MODE VALUE="UEFI"/>
    </SERVER_INFO>

    <SERVER_INFO MODE="write">
      <SET_ONE_TIME_BOOT VALUE="NETWORK"/>
    </SERVER_INFO>

  </LOGIN>
</RIBCL>